<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageCropResize.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<ImageCropResize.Settings>
      <setting name="Preset1_Name" serializeAs="String">
          <value>Preset 1</value>
      </setting>
      <setting name="Preset1_XValue" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset1_YValue" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset1_Width" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset1_Height" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset2_Name" serializeAs="String">
          <value>Preset 2</value>
      </setting>
      <setting name="Preset2_XValue" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset2_YValue" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset2_Width" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset2_Height" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset3_Name" serializeAs="String">
          <value>Preset 3</value>
      </setting>
      <setting name="Preset3_XValue" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset3_YValue" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset3_Width" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset3_Height" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset1_ResizeWidth" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset1_ResizeHeight" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset2_ResizeWidth" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset2_ResizeHeight" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset3_ResizeWidth" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset3_ResizeHeight" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Preset1_ResizeEnabled" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="Preset2_ResizeEnabled" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="Preset3_ResizeEnabled" serializeAs="String">
          <value>False</value>
      </setting>
  </ImageCropResize.Settings>
    </userSettings>
</configuration>